<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script rel="script" type="text/javascript" th:src="@{/js/addCart.js}"></script>

    <style>
        .my-alert{
            font-size: larger;
            Color: #28a745;
        }

        .order-detail {
            font-size: medium;
        }
    </style>
</head>
<body>
<div layout:fragment="main-content">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/product(category=${product.productCategory.id})}">Product Category</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Products</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Image -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <a href="" data-toggle="modal" data-target="#productModal">
                            <img class="img-fluid" th:src="${product.imageUrl}" />
                            <p class="text-center">Zoom</p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add to cart -->
            <div class="col-12 col-lg-6 add_to_cart_block">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <p class="price" th:text="'$' + ${product.price}">99.00 $</p>
                        <p class="price_discounted">2000 $</p>
                        <form method="get" action="cart.html">
                            <div class="form-group">
                                <label><strong>Category</strong></label>
                                <div class="p-3 mb-2 bg-info text-white" style="border-radius: 20px" th:text="${product.getProductCategory().name}">Normal</div>
                            </div>
                            <div class="form-group">
                                <label><strong>Seller</strong></label>
                                <div class="p-3 mb-2 bg-info text-white" style="border-radius: 20px" th:text="${product.getSeller().firstName}">Normal</div>
                            </div>
                            <div sec:authorize="hasAuthority('BUYER')" th:value="${product.id}" name="addToCart" class="btn btn-success btn-lg btn-block text-uppercase">
                                <i class="fa fa-shopping-cart"></i> Add To Cart
                            </div>
                        </form>
                        <div class="product_rassurance">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br/>Fast delivery</li>
                                <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br/>Secure payment</li>
                                <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br/>+33 1 22 54 65 60</li>
                            </ul>
                        </div>
                        <div class="reviews_product p-3 mb-2 ">
                            <span th:text="${product.getProdProductReviewList().size()}"></span> reviews
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            (4/5)
                            <a class="pull-right" href="#reviews">View all reviews</a>
                        </div>
                        <div class="datasheet p-3 mb-2 bg-info text-white">
                            <a th:href="@{/product}" class="text-white"><i class="fa fa-file-text"></i> Go to All Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Description -->
            <div class="col-12">
                <div class="card border-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                    <div class="card-body">
                        <p class="card-text" th:text="${product.description}">
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                        </p>
                        <p class="card-text">
                            This is really a great product for anyone in need!
                        </p>
                    </div>
                </div>
            </div>

            <!-- Reviews -->
            <div class="col-12" id="reviews">
                <div class="card border-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Reviews</div>
                    <div class="card-body">
                        <div th:each="review : ${product.prodProductReviewList}">
                            <div class="review" th:if="${review.isApproved()}">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <meta itemprop="datePublished" content="01-01-2016"><span th:text="${review.reviewDate}">January 01, 2018</span>

                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                by <span th:text="${review.buyer.firstName}">Paul Smith</span>
                                <p class="blockquote">
                                <p class="mb-0" th:text="${review.comment}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                </p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section sec:authorize="hasAuthority('BUYER')" style="padding-left: 16px">
                <form th:action="@{/product/review/{id}(id=${product.id})}" th:object="${review}" method="post">
                    <div class="form-group purple-border">
                        <label for="exampleFormControlTextarea4"><strong>Write Your Review Here</strong></label>
                        <textarea th:field="*{comment}" class="form-control" id="exampleFormControlTextarea4" rows="4" style="width: 800px"></textarea>
                        <input type="hidden" th:field="*{rating}" value="0">
                    </div>
                    <button type="submit" class="btn btn-info" style="margin-left: 725px; margin-bottom: 35px">Submit</button>
                </form>
            </section>
            <div th:if="${reviewMsg!=null}" class="my-alert"> <!--class="alert alert-success" role="alert"-->
                <span th:text="${reviewMsg}"></span>
            </div>
        </div>
    </div>

</div>
</body>
</html>