<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Review Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <h3 style="text-align:center;color:green;">
       Review saved successfully!!
    </h3>

    <!-- Bootstrap table and table-bordered classes -->
    <table th:if="${productReview}"class="table table-bordered">
        <thead>
        <tr>
            <td colspan="2" style="color: #1c7430; text-align: center;font-weight: bold">Review Added!!</td>
        </tr>
        </thead>

        <tbody>
        <tr>

            <td>Rating</td>
            <td th:text="${productReview.rating}">4</td>

        </tr>
        <tr>

            <td>Buyer</td>
            <td th:text="${productReview.buyer.lastName}">Bohara</td>

        </tr>
        <tr>

            <td>Comment</td>
            <td th:text="${productReview.comment}">Its good blah blah..</td>

        </tr>
        <tr>

            <td>Date</td>
            <td th:text="${productReview.reviewDate}">7/12/2020</td>

        </tr>
        <tr>

            <td>Status</td>
            <td>Pending</td>

        </tr>
        </tbody>

    </table>
    <button type="button" class="btn btn-secondary btn-sm">Back</button>
    <div th:if="${productreview==null}">
        <h4 class="text-danger">Review not succeed!!!!!</h4>

    </div>
</div>
</body>
</html>