<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin page</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>
<body>

<h2>Approve reviews</h2>

<table>
        <tr>
            <th>Buyer's Full Name</th>
            <th>Buyer's Email</th>
            <th>Review Comment</th>
            <th>Action</th>
        </tr>
        <tr th:each="review : ${productReviews}">
            <td th:text="${review.buyer.firstName} + ' ' + ${review.buyer.lastName}">Full Name</td>
            <td th:text="${review.buyer.email}">Email</td>
            <td th:text="${review.comment}">Comment</td>
            <td th:text="${review.active} ? 'Decline' : 'Approve'">Action</td>
        </tr>
</table>

<div class="table-responsive col-12">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Buyer's Full Name</th>
            <th scope="col">Buyer's Email</th>
            <th scope="col">Review Comment</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="review : ${productReviews}">
            <td th:text="${review.buyer.firstName} + ' ' + ${review.buyer.lastName}">Full Name</td>
            <td th:text="${review.buyer.email}">Email</td>
            <td th:text="${review.comment}">Comment</td>
            <td>
                <form th:action="@{/}" method="post">
                    <button name="" type="button" class="btn btn-primary" th:if="${review.active}">Decline</button>
                    <button type="button" class="btn btn-secondary" th:unless="${review.active}">Approve</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>