<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manage reviews</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>
<body>

<div layout:fragment="main-content">
    <div class="table-responsive col-12 admin-table">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Buyer's Full Name</th>
            <th scope="col">Buyer's Email</th>
            <th scope="col">Review Comment</th>
            <th scope="col">Reviewed Product Name</th>
            <th scope="col">Reviewed Product ID</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="review : ${productReviews}">
            <td th:text="${review.buyer.firstName} + ' ' + ${review.buyer.lastName}">Full Name</td>
            <td th:text="${review.buyer.email}">Email</td>
            <td th:text="${review.comment}">Comment</td>
            <td th:text="${review.product.name}">Reviewed Product Name</td>
            <td th:text="${review.product.id}">Reviewed Product ID</td>
            <td th:text="${review.approved}  ? 'Approved' : 'Pending'">Status</td>
            <td>
                <form th:action="@{/admin/reviews/approve/{action}(action=!${review.approved})}" method="post">
                    <button name="reviewId" th:value="${review.id}" type="submit" class="btn btn-secondary" th:if="${review.approved}">Decline</button>
                    <button name="reviewId" th:value="${review.id}" type="submit" class=" btn btn-primary" th:unless="${review.approved}">Approve</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>