.navbar{
    background-color: aquamarine;
}
.bg-light{
    background-color: aquamarine
}
nav{
    background-color: #0b2e13;
}
.hr{
    color: #1c7430;
}
title{
    background-color: #1c7430;
}
body{
    background-color: red;
}