.navbar{
    background-color: aquamarine;
}
.bg-light{
    background-color: aquamarine
}
nav{
    background-color: #0b2e13;
}
.hr{
    color: #1c7430;
}
title{
    background-color: #1c7430;
}
body{
    background-color: red;
}
/*ReviewDetails
body {*/
/*    background: #dd5e89;*/
/*    background: -webkit-linear-gradient(to left, #dd5e89, #f7bb97);*/
/*    background: linear-gradient(to left, #dd5e89, #f7bb97);*/
/*    min-height: 100vh;*/
/*}*/