.loginForm{
    /*border:2px solid gray;*/
    text-align:center;

    /*height:500px;*/
    /*width:400px;*/
}
h1{
    margin:auto;
}
/*.loginIcon{*/
    /*height:90px;*/
    /*width:396px;*/
    /*background-color: #e9ecef;*/
/*}*/

footer {
    background: #343a40;
    padding: 20px;
}
footer a {
    color: #f8f9fa!important
}