<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{page_layout/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="body-content">

    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div th:replace="common/sidebar :: sidebar"></div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12" id="background">
            <div class="sidebar-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col" th:each="product : ${products}" th:if="${product.enabled==true}">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" th:src="${product.imageUrl}" th:alt="${product.name}">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${product.name}">Card title</h5>
                                    <a href="#"><p class="card-text" th:text="${product.description}">Description.</p>
                                    </a>
                                    <p id="price" class="card-text" th:text="${'$'+product.price}">0.0</p>
                                    <a sec:authorize="hasRole('ROLE_BUYER')" th:value="${product.id}"
                                       class="btn btn-primary" id="addToCart">Add To Cart</a>
                                </div>
                            </div>
                            <div class="product-box">
                                <div class="product-item">
                                    <div class="mat-card">
                                        <div class="product-img">
                                            <a class="product-link" th:href="@{/product/{id}(id=${product.id})}">
                                                <img alt="product" th:src="@{product.imageUrl}" height="180"
                                                     width="286"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a th:href="@{/sellerIndex}">SellerPage</a>
</body>
</html>