<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Online Shop project</title>
    <script rel="script" type="text/javascript" th:src="@{/js/addCart.js}"></script>
</head>
<body>
<div class="container" layout:fragment="main-content">

    <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div th:replace="common/sidebar :: sidebar"></div>
    </div>
        <div class="col-md-9 col-sm-8 col-xs-12" id="background">
            <div class="sidebar-wrapper">
                <div class="container">
                    <div class="row" >
                    <div class="col"  th:each="product : ${products}" th:if="${product.enabled==true}">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" th:src="${product.imageUrl}" th:alt="${product.name}">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}">Card title</h5>
                                <a href="#"><p class="card-text" th:text="${product.description}">Description.</p></a>
                                <p id="price" class="card-text" th:text="${'$'+product.price}">0.0</p>
                                <a  sec:authorize="hasAuthority('BUYER')" th:value="${product.id}" class="btn btn-primary">Add To Cart</a>
                            </div>
                        </div>
                        <div  class="product-box">
                            <div  class="product-item">
                                <div class="mat-card">
                                    <div  class="product-img">
                                        <a class="product-link" th:href="@{/product/{id}(id=${product.id})}">
                                            <img alt="product" th:src="@{product.imageUrl}" height="180" width="286"/>
                                        </a>
                                    </div>
                        </div></div>
                    </div>
                </div></div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>