<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div layout:fragment="main-content">
    <div class="container loginForm">
        <form th:action="@{/login}" method="POST" class="form-signin">
            <div class="row loginIcon">
                <h1><i class="fa fa-lock" aria-hidden="true"></i> Login</h1>
            </div><br /><br />

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                </div>
                <input type="text" name="username"  id="username" class="form-control" placeholder="username or email"/>
            </div><br />

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key icon"></i></span>
                </div>
                <input type="Password" name="password" id="password" class="form-control" placeholder="password"/>
            </div><br />

            <div class="checkbox">
                <label><input type="checkbox" value=""/> Remember me</label>
            </div><br />

            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Login</button>

            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-remove"></span>Login with Facebook </button><br />
            <br /> <center><div style="border:1px solid black;height:1px;width:300px;"></div></center><br />
            <div class="">
                <p>Don't have an Account? <a href="/register">Sign Up Here</a></p>
                <p>Forgot <a href="#">Password?</a></p>
            </div>

            <div align="center">
                <p style="font-size: 20px; color: #FF1C19;" th:text="${errorMessage}">Email or Password invalid, please verify</p>
            </div>

            <div align="center">
                <p style="font-size: 20px; color: #179bbd;" th:text="${logoutMessage}">You have been successfully logged out.</p>
            </div>

            <p style="font-size: 12px; color: #17a2b8;" th:text="${registerSuccess}"></p>
        </form>
    </div>

</div>
</body>
</html>