<!DOCTYPE html>
<!--<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{page_layout/layout}"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" >

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link href="../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->

    <title>Product List</title>
</head>
<body>


<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
<!--    &lt;!&ndash; Navbar content &ndash;&gt;-->

<!--    &lt;!&ndash; Navbar content &ndash;&gt;-->

<!--    <nav class="navbar navbar-expand-md navbar-dark bg-dark">-->
<!--        <a href="#" class="navbar-brand">Brand</a>-->
<!--        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--            <div class="navbar-nav">-->
<!--                <a href="#" class="nav-item nav-link active">Home</a>-->
<!--                <a href="#" class="nav-item nav-link">About</a>-->
<!--                <a href="#" class="nav-item nav-link">Products</a>-->
<!--            </div>-->
<!--            <form class="form-inline ml-auto">-->
<!--                <input type="text" class="form-control mr-sm-2" placeholder="Search">-->
<!--                <button type="submit" class="btn btn-outline-light">Search</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </nav>-->
<!--</nav>-->


SideBar.....
<table>
    <tr th:each="product:${products}">
        <td th:text="${product.name}">
        <td> <img class="card-img-top" th:src="${product.imageUrl}" th:alt="${product.name}"></td>
    </tr>
</table>



<!--<div class="col"  th:each="product : ${products}" th:if="${product.enabled==true}">-->
<!--    <img class="card-img-top" th:src="${product.imageUrl}" th:alt="${product.name}">-->
<!--</div>-->

<!--<div class="container" style="background:#86cfda;">-->
<!--    <h1>My Products</h1>-->
<!--    <div class="row match-to-row" th:each="product : ${products}" th:if="${product.enabled==true}">-->
<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img th:src="${product.imageUrl}" style="height: 300px; width: 370px;padding: 15px" alt="${product.name}">-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg">See Detail</button>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->




<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img src="${product.imgUrl}" style="height: 300px; width: 370px;padding: 15px" alt="">-->
<!--                &lt;!&ndash;                <input type="button" value="ADD TO CART"><a th:href=""></a>&ndash;&gt;-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg">See Detail</button>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img src="../../static/images/onePlus.jpg" style="height: 300px; width: 370px;padding: 15px" alt="">-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg">See Detail</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img src="../../static/images/monitor.jpg" style="height: 300px; width: 370px;padding: 15px" alt="">-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg">See Detail</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img src="../../static/images/macGadget.png" style="height: 300px; width: 370px;padding: 15px" alt="">-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg"><a th:href="@{../../templates/seller/productDetails.html}"> See Detail</a></button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img src="../../static/images/lens.jpg" style="height: 300px; width: 370px;padding: 15px" alt="">-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg">See Detail</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img src="../../static/images/tripod.jpg" style="height: 300px; width: 370px;padding: 15px" alt="">-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg">See Detail</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img src="../../static/images/blutoothSpeaker.jpg" style="height: 300px; width: 370px;padding: 15px"-->
<!--                     alt="">-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg">See Detail</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6">-->
<!--            <div class="thumbnail">-->
<!--                <img src="../../static/images/monitor.jpg" style="height: 300px; width: 370px;padding: 15px" alt="">-->
<!--                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>-->
<!--                <button type="button" class="btn btn-secondary btn-lg">See Detail</button>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->





    <hr style="color: #1c7430;">
<!--    <footer class="page-footer font-small mdb-color lighten-3 pt-4">-->


<!--        &lt;!&ndash; Footer Elements &ndash;&gt;-->
<!--        <div class="container">-->

<!--            &lt;!&ndash;Grid row&ndash;&gt;-->
<!--            <div class="row">-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-2 col-md-12 mb-4">-->

<!--                    &lt;!&ndash;Image&ndash;&gt;-->
<!--                    <div class="view overlay z-depth-1-half">-->
<!--                        <img src="../../static/images/monitor.jpg" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <a href="">-->
<!--                            <div class="mask rgba-white-light"></div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-2 col-md-6 mb-4">-->

<!--                    &lt;!&ndash;Image&ndash;&gt;-->
<!--                    <div class="view overlay z-depth-1-half">-->
<!--                        <img src="../../static/images/speaker.jpg" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <a href="">-->
<!--                            <div class="mask rgba-white-light"></div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-2 col-md-6 mb-4">-->

<!--                    &lt;!&ndash;Image&ndash;&gt;-->
<!--                    <div class="view overlay z-depth-1-half">-->
<!--                        <img src="../../static/images/blutoothSpeaker.jpg" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <a href="">-->
<!--                            <div class="mask rgba-white-light"></div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-2 col-md-12 mb-4">-->

<!--                    &lt;!&ndash;Image&ndash;&gt;-->
<!--                    <div class="view overlay z-depth-1-half">-->
<!--                        <img src="../../static/images/drone.jpg" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <a href="">-->
<!--                            <div class="mask rgba-white-light"></div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-2 col-md-6 mb-4">-->

<!--                    &lt;!&ndash;Image&ndash;&gt;-->
<!--                    <div class="view overlay z-depth-1-half">-->
<!--                        <img src="../../static/images/iphone.jpg" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <a href="">-->
<!--                            <div class="mask rgba-white-light"></div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                <div class="col-lg-2 col-md-6 mb-4">-->

<!--                    &lt;!&ndash;Image&ndash;&gt;-->
<!--                    <div class="view overlay z-depth-1-half">-->
<!--                        <img src="../../static/images/macGadget.png" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <a href="">-->
<!--                            <div class="mask rgba-white-light"></div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                </div>-->
<!--                &lt;!&ndash;Grid column&ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash;Grid row&ndash;&gt;-->

<!--        </div>-->


<!--    </footer>-->

</body>
</html>