<!DOCTYPE html>
<!--<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{page_layout/layout}"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" >

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link href="../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />-->

    <title>Product List</title>
</head>
<body>

SideBar.....


<div class="container" style="background:#86cfda;">
    <h1>My Products</h1>
    <div class="row match-to-row" th:each="product : ${products}" th:if="${product.enabled==true}">
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img th:src="${product.imageUrl}" style="height: 300px; width: 370px;padding: 15px" alt="${product.name}"><span th:text="${product.name}">
                <button type="button" class="btn btn-primary btn-lg">ADD TO SALE</button>
                <button type="button" class="btn btn-secondary btn-lg"><a th:href="@{/seller/productDetails}">See Detail</a></button>
            </div>

        </div>
    </div>
</div>
    <hr style="color: #1c7430;">


</body>
</html>