<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <title>Product List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container" layout:fragment="main-content">
    <h2 align="center">Product Lists:</h2>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product:${products}">
            <td class="align-middle" style="width: 75px"><img class="img-thumbnail w-100"
               th:src="${product.imageUrl}" th:alt="${product.name}">
<!--                  th:attr="src=@{'/'+${product.imageUrl}},title=${product.name}"/>-->
<!--                     th:src="${product.imageUrl}" alt="${product.name}"/>-->
<!--                <img th:src="${product.imageUrl}" style="height: 300px; width: 370px;padding: 15px" alt="${product.name}">-->
            </td>
            <td th:text="${product.name}">Name
            </td>
            <td class="align-middle" th:text="${product.productCategory}">
                Category
            </td>
            <td th:text="${'$'+product.price}">Price
            </td>

            <td th:text="${product.quantity}">Quantity
            </td>
            <td class="align-middle" th:text="${product.enabled} ? 'Approved' : 'Pending'"></td>
            <td>
                <button type="button" class="btn btn-primary" style="background-color: #86cfda;padding-right: 30px">
                    <a title="Edit" th:href="@{/seller/editProduct/{id}(id=${product.id})}">
                        <i> Edit</i></a>
                </button>
                <button type="button" class="btn btn-danger">
                    <a title="Delete" class="btn btn-outline-warning btn-sm"
                       th:href="@{/seller/deleteProduct/{id}(id=${product.id})}">
                        <i class="material-icons"> Remove</i></a>
                </button>
            </td>
        </tr>

        </tbody>
    </table>

    <button type="button" class="btn btn-primary" style="background-color: #86cfda"><a th:href="@{/seller/addProduct}">ADD PRODUCT</a></button>
</div>

</body>
</html>