<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div th:each="seller : ${itemBySellers}">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>

                    <tr th:each="item : ${seller.items}">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                                                              th:src="${item.product.imageUrl}"
                                                                              style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#" th:text="${item.product.name}">Product
                                        name</a></h4>
                                    <h5 class="media-heading"> Seller: <a href="#" th:text="${seller.sellerName}">Brand
                                        name</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" disabled="true"
                                   th:value="${item.quantity}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${item.product.price}">$4.87</strong>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${item.price}">$14.61</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <a th:href="@{cart/remove(id=${item.id})}">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </a></td>
                    </tr>

                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td><h4>Total</h4></td>
                        <td class="text-right"><h4><strong th:text="${seller.total}">$31.53</strong></h4></td>
                    </tr>
                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>
                            <a th:href="@{/}">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </button>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/buyer/order/checkout(sellerId = ${seller.sellerId})}">
                                <button type="button" class="btn btn-success">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
        <br><br>
    </div>
</div>
</body>
</html>
